*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #0A090A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  margin-bottom: 35%;
}

.logo {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.search {
  display: flex;
  align-items: center;
  flex: 0.8;
}

.search-input {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding: 12px 18px;
  border: none;
  flex: 1;
  font-size: 14px;
  line-height: 16px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AEAEAE;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AEAEAE;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #AEAEAE;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 18px;

}

.bookmark {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.title-en {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 30px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.movie-info {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
}

.country {
  font-size: 16px;
  line-height: 19px;
  margin-right: 33px;
}

.play {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.play::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.more {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.more::after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 15px;
  transform: rotate(90deg);
}

.content {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 3px;
  color: #000;
  padding: 43px 50px;
}

.poster {
  display: block;
  margin-top: -80px;
  margin-bottom: 20px;
}

.button {
  background: #FF8F27;
  padding: 10px 42.5px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

.actors-title {
  padding-left: 15px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}

.actors-list {
  margin: 0;
  list-style: none;
  padding-left: 15px;
  text-decoration: underline;
}

.full-info {
  flex: 0.97;
}

.full-content {
  display: flex;
  justify-content: space-between;
}

.tabs-content {
  margin-right: 70px;
}

.tabs-item {
  color: #000;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  line-height: 21px;
}

.tabs-item-active {
  color: #FF8F27;
}